
<h1 class="header">Checks</h1>
<div class="ui form">
  <div class="three fields">
    <div class="inline field">
      <label>First name</label>
      <input type="text" placeholder="First Name">
    </div>
    <div class="inline field">
      <label>Middle name</label>
      <input type="date" placeholder="Middle Name">
    </div>
    <div class="inline field">
      <label>Last name</label>
      <input type="date" placeholder="Last Name">
    </div>
  </div>
</div>
<div class="ui styled fluid accordion">
  <div class="title active">
    <i class="dropdown icon"></i>
    <div class="ui horizontal list">
      <div class="item">
        <i class="user icon"></i>
        <div class="content">
          <div class="header">Ehab Gamal</div>
        </div>
      </div>
      <div class="item">
        <i class="pound icon"></i>
        <div class="content">
          <div class="ui red tag large label">79.95</div>
        </div>
      </div>
    </div>
  </div>
  <div class="content active">
    <div class="accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        <div class="ui horizontal list">
          <div class="item">
            <i class="wait icon"></i>
            <div class="content">
              <div class="header">10 min ago</div>
            </div>
          </div>
          <div class="item">
            <i class="user icon"></i>
            <div class="content">
              <div class="header">Ehab Gamal</div>
            </div>
          </div>
          <div class="item">
            <i class="marker icon"></i>
            <div class="content">
              <div class="header">OS Room</div>
            </div>
          </div>
          <div class="item">
            <i class="volume control phone icon"></i>
            <div class="content">
              <div class="header">253</div>
            </div>
          </div>
          <div class="item">
            <i class="pound large red icon"></i>
            <div class="content">
              <div class="ui red tag label">79.95</div>
            </div>
          </div>
        </div>
        <div class="ui right floated large buttons">
          <button class="ui circular green button">
            <i class="check icon"></i>
          </button>
        </div>
      </div>
      <div class="content">
        <div class="ui six column grid">
          <div class="column">
            <div class="ui fluid card">
              <div class="image">
                <div class="ui red big ribbon label">
                  <i class="hashtag icon"></i> 5
                </div>
                <img src="http://lorempixel.com/200/200/">
              </div>
              <div class="content">
                <a class="header">Product Name</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="title active">
    <i class="dropdown icon"></i>
    <div class="ui horizontal list">
      <div class="item">
        <i class="user icon"></i>
        <div class="content">
          <div class="header">Ehab Gamal</div>
        </div>
      </div>
      <div class="item">
        <i class="pound icon"></i>
        <div class="content">
          <div class="ui red tag large label">79.95</div>
        </div>
      </div>
    </div>
  </div>
  <div class="content active">
    <div class="accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        <div class="ui horizontal list">
          <div class="item">
            <i class="wait icon"></i>
            <div class="content">
              <div class="header">10 min ago</div>
            </div>
          </div>
          <div class="item">
            <i class="user icon"></i>
            <div class="content">
              <div class="header">Ehab Gamal</div>
            </div>
          </div>
          <div class="item">
            <i class="marker icon"></i>
            <div class="content">
              <div class="header">OS Room</div>
            </div>
          </div>
          <div class="item">
            <i class="volume control phone icon"></i>
            <div class="content">
              <div class="header">253</div>
            </div>
          </div>
          <div class="item">
            <i class="pound large red icon"></i>
            <div class="content">
              <div class="ui red tag label">79.95</div>
            </div>
          </div>
        </div>
        <div class="ui right floated large buttons">
          <button class="ui circular green button">
            <i class="check icon"></i>
          </button>
        </div>
      </div>
      <div class="content">
        <div class="ui six column grid">
          <div class="column">
            <div class="ui fluid card">
              <div class="image">
                <div class="ui red big ribbon label">
                  <i class="hashtag icon"></i> 5
                </div>
                <img src="http://lorempixel.com/200/200/">
              </div>
              <div class="content">
                <a class="header">Product Name</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="title active">
    <i class="dropdown icon"></i>
    <div class="ui horizontal list">
      <div class="item">
        <i class="user icon"></i>
        <div class="content">
          <div class="header">Ehab Gamal</div>
        </div>
      </div>
      <div class="item">
        <i class="pound icon"></i>
        <div class="content">
          <div class="ui red tag large label">79.95</div>
        </div>
      </div>
    </div>
  </div>
  <div class="content active">
    <div class="accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        <div class="ui horizontal list">
          <div class="item">
            <i class="wait icon"></i>
            <div class="content">
              <div class="header">10 min ago</div>
            </div>
          </div>
          <div class="item">
            <i class="user icon"></i>
            <div class="content">
              <div class="header">Ehab Gamal</div>
            </div>
          </div>
          <div class="item">
            <i class="marker icon"></i>
            <div class="content">
              <div class="header">OS Room</div>
            </div>
          </div>
          <div class="item">
            <i class="volume control phone icon"></i>
            <div class="content">
              <div class="header">253</div>
            </div>
          </div>
          <div class="item">
            <i class="pound large red icon"></i>
            <div class="content">
              <div class="ui red tag label">79.95</div>
            </div>
          </div>
        </div>
        <div class="ui right floated large buttons">
          <button class="ui circular green button">
            <i class="check icon"></i>
          </button>
        </div>
      </div>
      <div class="content">
        <div class="ui six column grid">
          <div class="column">
            <div class="ui fluid card">
              <div class="image">
                <div class="ui red big ribbon label">
                  <i class="hashtag icon"></i> 5
                </div>
                <img src="http://lorempixel.com/200/200/">
              </div>
              <div class="content">
                <a class="header">Product Name</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>