<p id="notice"><%= notice %></p>

<h1>Products</h1>
<table id="products-table" data-source="<%= products_path(format: :json) %>" class="ui celled table" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Category</th>
    <th>Image</th>
    <th>Available</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
